.formContainer {
  max-width: 40rem;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

.errorLabel {
  color: red;
  margin: 3px 0;
}

.twoCol {
  display: flex;
  justify-content: space-between;
}

.formContent {
  display: grid;
  row-gap: 10px;
}
